<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="index.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/github.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex">
        <link rel="shortcut icon" href="favicon.ico">
    </head>
    <body>
        <main id="main">
            <div id="slide-wrapper">
                <section class="slide title-slide">
                    <h1>{{title}}</h1>
                </section>
                {{{slidesContent}}}
            </div>
            <nav id="arrows">
                <button class="arrow" id="arrow-left">&lt;</button>
                <button class="arrow" id="arrow-right">&gt;</button>
            </nav>
            <div id="progress-bar"></div>
            <svg class="overlay">
                <defs>
                    <marker id="arrow" viewBox="0 0 10 10" refX="9"  refY="5"
                        markerWidth="6" markerHeight="6"
                        orient="auto-start-reverse">
                        <path d="M 0 0 L 10 5 L 0 10 z" />
                    </marker>
                </defs>
            </svg>
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/languages/javascript.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/languages/bash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/languages/json.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/languages/json.min.js"></script>
        <script src="swiped-events.min.js"></script>
        <script src="index.js"></script>
        {{#each scripts}}
        <script src="{{this}}"></script>
        {{/each}}
    </body>
</html>
