@font-face {
    font-family: 'MaisonNeue';
    src:
        url('https://fonts.thinkful.com/MaisonNeue-Book.woff') format('woff'),
        url('https://fonts.thinkful.com/MaisonNeue-Book.woff2') format('woff2');
    font-weight: normal !important;
    font-style: normal !important;
}

@font-face {
    font-family: 'MaisonNeue-Italic';
    src:
        url('https://fonts.thinkful.com/MaisonNeue-BookItalic.woff') format('woff'),
        url('https://fonts.thinkful.com/MaisonNeue-BookItalic.woff2') format('woff2');
    font-weight: normal !important;
    font-style: normal !important;
}

@font-face {
    font-family: 'MaisonNeue-Bold';
    src:
        url('https://fonts.thinkful.com/MaisonNeue-Bold.woff') format('woff'),
        url('https://fonts.thinkful.com/MaisonNeue-Bold.woff2') format('woff2');
    font-weight: normal !important;
    font-style: normal !important;
}

@font-face {
    font-family: 'MaisonNeue-BoldItalic';
    src:
        url('https://fonts.thinkful.com/MaisonNeue-BoldItalic.woff') format('woff'),
        url('https://fonts.thinkful.com/MaisonNeue-BoldItalic.woff2') format('woff2');
    font-weight: normal !important;
    font-style: normal !important;
}

@font-face {
    font-family: 'MaisonNeue-Mono';
    src:
        url('https://fonts.thinkful.com/MaisonNeue-Mono_web.woff') format('woff'),
        url('https://fonts.thinkful.com/MaisonNeue-Mono_web.woff2') format('woff2');
    font-weight: normal !important;
    font-style: normal !important;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 28px;
    font-family: 'MaisonNeue','Helvetica',sans-serif;
    line-height: 1.6;
}

h1 {
    font-size: 1.2rem;
    margin: 0 0 18px 0;
}

h2 {
    font-size: 1.1rem;
}

h2, h3, h4, h5, h6, pre, p, ul {
    margin: 0 0 12px 0;
}

body {
    color: #373a36;
    background-color: #fafafa;
}

main {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#slide-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
}

.slide {
    padding: 50px;
    width: 100%;
    height: 100%;
}

.slide:not(.visible) {
    display: none;
}

.slide-inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.note {
    display: none;
}

.fragment:not(.visible) {
    display: none;
}

pre {
    padding: 12px;
}

code {
    font-family: 'MaisonNeue-Mono', 'Inconsolata', monospace;
    padding: 0 2px;
    margin: 0 4px;
    border-radius: 1px;
    font-size: 0.9rem;
    background-color: #e5e5e5;
    box-shadow: 0 0 0 3px #e5e5e5;
}

pre code {
    display: block;
    line-height: 1.3;
    font-size: 0.5rem;
    background-color: transparent;
    box-shadow: none;
    padding: 12px;
}


pre.hljs {
    background-color: #f3f3f3;
    overflow-x: auto;
    border-radius: 4px;
    padding: 0;
}

.title-slide {
    width: 100%;
    height: 100%;
}

.title-slide h1 {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
}

.highlight {
    border: 3px rgb(32, 194, 0) solid;
}

#progress-bar {
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #3E2AEE;
}

.row {
    display: flex;
}

.cell {
    flex: 1;
}

.cell-1 {
    flex-basis: calc(100%/6);
}

.cell-2 {
    flex-basis: calc(200%/6);
}

.cell-3 {
    flex-basis: calc(300%/6);
}

.cell-4 {
    flex-basis: calc(400%/6);
}

.cell-5 {
    flex-basis: calc(500%/6);
}

.cell-6 {
    flex-basis: calc(600%/6);
}

.cell, .cell-1, .cell-2, .cell-3, .cell-4, .cell-5, .cell-6 {
    margin-left: 12px;
    margin-right: 12px;
}

.cell:first-child, .cell-1:first-child, .cell-2:first-child, .cell-3:first-child, .cell-4:first-child, .cell-5:first-child, .cell-6:first-child {
    margin-left: 0;
}

.cell:last-child, .cell-1:last-child, .cell-2:last-child, .cell-3:last-child, .cell-4:last-child, .cell-5:last-child, .cell-6:last-child {
    margin-right: 0;
}

